/* Journey to the Center of the Earth Practicum */
/* Bryan Stanski */



/* Phone Style Section */

h2 {
    border-bottom : 2px dashed black;
}

body {
    background-image : linear-gradient(#765729, black);
}

a:link {
    color : black;
    text-decoration : none;
}

a:hover {
    color : #A52A2A;
    text-decoration : underline;
}

header {
    background : white;
    opacity : 75%;
    background-image : url(../img/cave.jpg);
    background-size : cover;
    text-align : center;
    color : white;
    font-size : large;
    font-weight : bold ;
    font-family : Georgia, 'Times New Roman', Times, serif;
    text-shadow : 2px 2px 0px black;
    border : solid 3px #886644;
    border-radius : 10px 10px 0px 0px;
    box-shadow : inset 25px 25px 10px -5px black;
    padding : 10px;
    margin-left : 2px;
    margin-right : 2px;
}

nav {
    text-align : center;
    background: white;
    opacity : 75%;
    border : solid 3px #886644;
    box-shadow : inset 5px 10px 10px grey;
    padding : 10px;
    margin-top : 5px;
    margin-left : 2px;
    margin-right : 2px;
}

nav li {
    display : inline;
    padding : 10px;
    border-right : 3px double black;
}

nav li:last-child {
    border-right : 0px;
}

main {
    background: white;
    opacity : 75%;
    border : solid 3px #886644;
    box-shadow : inset 5px 10px 10px grey;
    padding : 10px;
    margin-top : 5px;
    margin-left : 2px;
    margin-right : 2px;
}

aside {
    background: white;
    opacity : 75%;
    border : solid 3px #886644;
    box-shadow : inset 5px 10px 10px grey;
    padding : 10px;
    margin-top : 5px;
    margin-left : 2px;
    margin-right : 2px;
    text-align : center;
}

footer {
    background: white;
    opacity : 75%;
    border : solid 3px #886644;
    border-radius : 0px 0px 10px 10px;
    box-shadow : inset 5px 10px 10px grey;
    padding : 10px;
    margin-top : 5px;
    margin-left : 2px;
    margin-right : 2px;
    text-align : center;
    font-size : large;
}

#cover {
    padding : 5px;
    padding-right : 25px;
    max-width : 50%;
    float : left;
}

#cryptogram {
    text-align : center;
}

main p:first-of-type::first-line {
    font-size : 25px;
}

span:lang(fr), :lang(is), :lang(it), :lang(id) {
    font-style : italic;
}

.character {
    font-weight : bold;
}

.submission {
    font-size : large;
    padding : 20px;
    border : solid 1px black;
    margin : 5px;
}

.signature {
    font-style : italic;
    text-align : right;
}

figcaption {
    font-style : italic;
}



/* End of Phone Style Section */



/* Tablet Layout Section */

@media screen and (min-width : 768px) {

    .signature {
        text-align : center;
    }

    h1 {
        font-size : 50px;
    }

    #cover {
        max-width : 30%;
    }

    /* Grid layout code from https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas */
    aside {
        display : grid;
        grid-template-areas : "head head head"
                              "sub  sub  sub";
    }

    aside > h2 {
        grid-area : head;
    }

    aside > .submission {
        grid-area : auto;
        text-align : center;
    }

    
}

/* End of Table Layout Section */



/* Desktop Layout Section */

@media screen and (min-width : 1024px) {
    
    /* Grid layout code from https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas */
    
    body {
        display : grid;
        grid-template-columns : 70% auto;
        grid-template-rows : auto;
        grid-template-areas : "head head"
                              "nav  nav"
                              "main aside"
                              "foot foot";
        grid-gap : 0.2rem;
    }

    body > header {
        grid-area : head;
    }

    body > nav {
        grid-area : nav;
    }

    body > main {
        grid-area : main;
    }

    body > aside {
        grid-area : aside;
        display : inline;
    }

    body > footer {
        grid-area : foot;
    }

    .submission {
        margin-bottom : 15px;
    }

}

/* Desktop Layout For Expanding Margins */

@media screen and (min-width : 1200px) {
    
    body {
        max-width : 1200px;
        margin : 0 auto;
    }
    
}

/* End of Desktop Layout Section */